<ion-view view-title="MENU" class="menu-trading">
	<ion-content>
		<div class="list">
		  <div class="item item-divider" ng-bind="customerInfo.customerName ? customerInfo.customerName: 'TÀI KHOẢN'"></div>
		  <a class="item item-icon-left" on-touch="goto('portfolio')">
		    <i class="icon ion-document-text"></i> Danh mục đầu tư
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-social-usd"></i>Tài Sản
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-android-menu"></i>
		    Danh sách tài khoản
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-camera"></i>
		    Ảnh thẻ VTOS 
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-key"></i>
		    Đổi mật khẩu
		  </a>

		  <a class="item item-icon-left" on-touch="logout();">
		    <i class="icon ion-log-out"></i>
		    Đăng xuất
		  </a>
		  
		  <div class="item item-divider" ng-bind="'THỊ TRƯỜNG'"></div>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-pulse-strong"></i> Bảng giá
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-paper"></i>Tin tức
		  </a>
		  

		  <div class="item item-divider" ng-bind="'GIAO DỊCH'"></div>
		  <a class="item item-icon-left" href="#">
		    <i class="icon icon-trading-small"></i>
		    Đặt lệnh
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-clipboard"></i>
		    Sổ lệnh
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-android-notifications"></i>
		    Thông báo
		  </a>

		  <div class="item item-divider" ng-bind="'TRỢ GIÚP'"></div>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-telephone"></i>
		    Gọi cho dịch vụ khách hàng
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-chatbubble"></i>
		    Góp ý
		  </a>
		</div>
	</ion-content>
</ion-view>