<ion-view view-title="MENU" class="menu-trading">
	<ion-content>
		<div class="list">
		  <div class="item item-divider" ng-bind="customerInfo.customerName ? customerInfo.customerName: 'TÀI KHOẢN'"></div>
		  <a class="item item-icon-left" on-touch="goto('{{topMenu.accountPage.portfolio}}')">
		    <i class="icon ion-document-text"></i> 
		    <span>Danh mục đầu tư</span>
		  </a>

		  <a class="item item-icon-left" on-touch="goto('{{topMenu.accountPage.asset}}')">
		    <i class="icon ion-social-usd"></i>
		    <span>Tài Sản</span>
		  </a>

		  <a class="item item-icon-left" >
		    <i class="icon ion-android-menu"></i>
		    <span>Danh sách tài khoản</span>
		  </a>

		  <a class="item item-icon-left" >
		    <i class="icon ion-ios-camera"></i>
		    <span>Ảnh thẻ VTOS</span>
		  </a>

		  <a class="item item-icon-left" >
		    <i class="icon ion-key"></i>
		    <span>Đổi mật khẩu</span>
		  </a>

		  <a class="item item-icon-left" on-touch="logout();">
		    <i class="icon ion-log-out"></i>
		    <span>Đăng xuất</span>
		  </a>
		  
		  <div class="item item-divider" ng-bind="'THỊ TRƯỜNG'"></div>
		  <a class="item item-icon-left" >
		    <i class="icon ion-ios-pulse-strong"></i> 
		    <span>Bảng giá</span>
		  </a>

		  <a class="item item-icon-left">
		    <i class="icon ion-ios-paper"></i>
		    <span>Tin tức</span>
		  </a>
		  

		  <div class="item item-divider" ng-bind="'GIAO DỊCH'"></div>
		  <a class="item item-icon-left" on-touch="goto('{{topMenu.tradingPage.placeorder}}')">
		    <i class="icon icon-trading-small"></i>
		    <span>Đặt lệnh</span>
		  </a>

		  <a class="item item-icon-left" on-touch="goto('{{topMenu.tradingPage.orderbook}}')">
		    <i class="icon ion-clipboard"></i>
		    <span>Sổ lệnh</span>
		  </a>

		  <a class="item item-icon-left">
		    <i class="icon ion-android-notifications"></i>
		    <span>Thông báo</span>
		  </a>

		  <div class="item item-divider" ng-bind="'TRỢ GIÚP'"></div>
		  <a class="item item-icon-left">
		    <i class="icon ion-ios-telephone"></i>
		    <span>Gọi cho dịch vụ khách hàng</span>
		  </a>
		  <a class="item item-icon-left">
		    <i class="icon ion-ios-chatbubble"></i>
		    <span>Góp ý</span>
		  </a>
		</div>
	</ion-content>
</ion-view>