<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-ios-icons tabs-icon-top tabs-color-active-positive tabs-dark">

  <ion-tab id="accountPage" title="Tài khoản" icon-off="icon-ios-account" icon-on="icon-ios-account-active" href="#/tab/account" ng-click="loadData(0);">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
  <ion-tab id="marketPage" title="Thị trường" icon-off="icon-ios-market" icon-on="icon-ios-market-active" href="#/tab/market-info">
    <ion-nav-view name="tab-market-info"></ion-nav-view>
  </ion-tab>

  <ion-tab id="tradingPage" title="Giao dịch" icon-off="icon-ios-trading" icon-on="icon-ios-trading-active" href="#/tab/trading" ng-click="loadData(2);">
    <ion-nav-view name="tab-trading"></ion-nav-view>
  </ion-tab>

  <ion-tab id="notificationPage" title="Thông báo" icon-off="icon-ios-notification" icon-on="icon-ios-notification-active" href="#/tab/notification">
    <ion-nav-view name="tab-notification"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Menu" icon-off="ion-ios-navicon" icon-on="ion-ios-navicon-active" href="#/tab/menu" >
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

</ion-tabs>
