/* Empty. Add your own CSS if you like */
ion-view {
	background: url("../img/background.png") no-repeat scroll 0 0 / 100% 100%;
	color: #e5e5e5;
	font-size: 13px;
}
.appPage .list, .appPage .input-label{
	font-size: 13px;
}
.left {
	float: left;
}
.right {
	float: right;
}
ion-header-bar .title {
	text-transform: uppercase;
}
.bar-trading-app .bar-header {
	background-color: #f39000;
}

.bar-trading-app .bar-header .title {
	color: #F8F8F8;
}

.appPage .bar-light {
	background-color: rgba(80, 80, 80, 1);
    border-radius: 4px;
    vertical-align: middle;
    color: #e5e5e5;
    height: 35px;
    line-height: 22px;
    background-image: none;
    position: relative;
    padding: 5px 10px;
    top:25px;
}
.bar-subheader .row.header {
	position: relative;
	top:25px;

}
.account-info .has-subheader {
	margin-top: 85px;
	overflow: auto;
}
.asset .has-subheader {
	margin-top: 35px;
}
.back-button {
	color: #F8F8F8 !important;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
	padding: 5px 0px;
	line-height: 5px;
}

.tab-item .icon {
	width: 100%;
	position: relative;
}

.ion-ios-navicon:before {
	background: url('../img/IconMenu.png') no-repeat;
}

.ion-ios-navicon-active:before {
	background: url('../img/IconMenuActive.png') no-repeat;
}

.icon-ios-trading:before {
	background: url('../img/IconTrading.png') no-repeat;
}

.icon-ios-trading-active:before {
	background: url('../img/IconTradingActive.png') no-repeat;
}

.icon-ios-account:before {
	background: url('../img/IconAccount.png') no-repeat;
}

.icon-ios-account-active:before {
	background: url('../img/IconAccountActive.png') no-repeat;
}
.tab-title {
	color: #F8F8F8;
}

.tabs-ios-icons .tab-nav .icon:before {
	content:  ' ';
	display: block;
	margin: 0 auto;
	height: 28px;
	width: 32px;
}

.account-list .item-radio {
	background-color: transparent;
	color: #e5e5e5;
	padding: 0px;
	line-height: 10px;
}

.account-list .ion-checkmark {
	padding-top: 6px;
}

.account-list .item-radio .item-content {
	background-color: rgba(255, 255, 255, 0.25); 
}

.account-list .item-radio input:checked + .radio-content .item-content {
	background-color: rgba(155, 255, 255, 0.2);
}


.tabs-ios-icons .tab-item-active .tab-title {
	color: #f39000;
}

.profit {
	width: 100%;
}

.account-info .bar-subheader {
	height: 180px;
}

.asset .bar-subheader {
	height: 130px;
}

.account-info .tabs-top.tabs-striped {
	height: 95px;
}

.account-info .bar-subheader .row.header, .assets-info .row.header {
	border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;

}

.account-number {
	width: 100%;
	text-align: right;
}

.loading-container .loading {
	background-color: rgba(0, 0, 0, 0) !important;
}

.row.even {
	background-color: rgba(0, 0, 0, 0.2);
}
.row {
	margin-top: 0px !important;
}
.menu-trading .item {
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu-trading a span {
	border: none;
    border-bottom: 1px solid;
    width: 100%;
    line-height: 25px;
    padding-bottom: 6px;
    display: block;
    border-color: #444;
}

.trading .item {
	border-bottom: 1px solid !important;
}

.menu-trading .item, .trading .item {
	
	width: 100%; 
	background-color: transparent;
	border: none;
	font-size: 13px;
    vertical-align: middle;
    height: 45px;
}

div.row.item.item-input:first-child {
	border-bottom: none !important;
}

.span-touch {
	display: inline-block;
    position: relative;
    padding: 10px;
    border-radius: 20px;
}
.stock-info {
	border-bottom: 1px solid;
	color: #444;
}
.trading .row .col {
	color: #A2A2A2;
}
.menu-trading .item-divider {
	background-color: rgba(0, 0, 0, 0.2);
	color: #f39000;
	text-transform: uppercase;
}

.menu-trading .icon {
	font-size: 20px;
}

.icon-trading-small {
	background: url('../img/icon-trading-small.png') no-repeat;
	background-size: 100%;
	height: 20px;
	width: 20px;
	display: block;
	margin-top: 6px;
	margin-left: 6px;

}

.loginPage .popup-head .popup-title {
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
	display: block;
	height: 45px;

}

.loginPage .popup-head {
	margin: auto;
	width: 180px;
}
.loginPage .popup, .errorPopup .popup {
	width: 290px;
	border-radius: 10px;
}

.errorPopup .button-positive {
	flex: unset;
    height: 30px;
    min-height: 0;
    min-width: 0;
    max-width: 80px;
}

.errorPopup .popup-buttons {
	margin: auto;
	width: 80px;
}

.errorPopup .popup-body {
	text-align: center;
}

.errorPopup .popup-title {
	font-weight: bold;
}

.loginPage p {
	font-size: 12px;
    text-align: center;
}

.loginPage .item-input {
	background-color: rgba(140, 140, 140, 0.1);
	padding: 0 0 0 16px;
}
.loginPage label.item {
	border-color: #cecece;
	border-width: 0;
}

.loginPage .list-inset {
	border-radius: 5px;
	border: 1px solid #cecece;
}
.loginPage .popup-body {
	padding: 0 10px;
}

.loginPage .popup-buttons {
	min-height: 30px;
	margin: auto;
}

.loginPage .button {
    border-radius: 5px;
    color: #fff;
    flex: unset;
    height: 35px;
    line-height: 10px;
    min-height: 0;
    padding: 10px;
    width: 120px;
    border: 1px solid #f39000;
    min-width: 0;
    font-size: 14px;
    font-weight: normal;
}

.loginPage .button-default {
	background-color: #f39000;
}

.loginPage .button-positive, .loginPage .button-positive:HOVER {
	background-color: transparent;
	color: #f39000;
}

.loginPage .ion-close {
	position: absolute; 
	top: 8px; 
	right: 13px;
}

.assets-info .item {
	padding: 8px 5px;
    background-color: transparent;
    border: 0;
    color: #e5e5e5;
    font-size: 14px
}

.item.even {
	background-color: rgba(0, 0, 0, 0.3);
}

.item.item-divider {
	color: #f39000;
	font-weight: bold;
}

.trading input{
	color: #e5e5e5;
	max-width: 72px;
	display: inline-block;
	padding: 0 10px;
    text-align: center;
    height: 25px;
    margin-top: -25px;
}

.trading .input-label {
	margin-right: 50px;
	color: #e5e5e5;
}

.trading .list {
	background-color: rgba(58, 58, 58, 0.3);
	width: 110%;
    margin-left: -10px;
    padding: 0 2em 0 1em;
}

.trading .bar-light {
	top: 0;
	margin-bottom: 10px;
}
.trading .row .col {
	padding: 8px 0;
}
.trading .slider {
	display: inline-block;
    vertical-align: top;
    width: 40px;
    margin: 7px 14px 0 19px;
}
.margin33 {
	margin-left: 33px;
}
.trading .btn-group {
	margin: 10px auto;
	display: block;
	width: 215px;
}

.highlight {
    box-shadow: 0px 0px 17px 7px #ffffff;
    background-color: #fff;
    color: #fff;
}

.trading .btn-group .button {
	min-height: 10px;
    line-height: 35px;
    min-width: 215px;
}
.trading .item-note {
	width: 125px;
	margin-top: 7px;
}
.trading select {
	background: none;
    border: none;
    color: #eee;
    width: 73px;
    text-indent: 20px;
    margin-top: 10px;
    vertical-align: top;
}
.trading .item-note .arrow-circle:BEFORE{
	font-weight: bold;
	vertical-align: top;
    margin-top: 1px;
}

ion-view.trading {
	background: url(../img/backgroundTrading.png) no-repeat;
	background-size: 100%;
}
.icon-sell {
	background: url('../img/iconSell.png') no-repeat;
}

.icon-buy {
	background: url('../img/IconBuy.png') no-repeat;
   
}

.icon-trading {
	display: inline-block;
    height: 16px;
    width: 32px;
    background-size: 100%;
    top: 4px;
    position: relative;
    margin-right: 5px;
}

.arrow-circle {
	display: inline-block;
    color: #f8f8f8;
    font-size: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    text-align: center;
}