/* Empty. Add your own CSS if you like */
ion-view {
	background: url("../img/background.png") no-repeat scroll 0 0 / 100% 100%;
	color: #e5e5e5;
	font-size: 13px;
}
.tabs-striped.tabs-color-energized .tab-item {
	color: #f8f8f8 !important;
	font-weight: 500;
}
.tabs .tab-item.active {
	color: #f39000 !important;
	border-color: #f39000 !important;
}
.backdrop-loading {
	z-index: 99;
}
.loading-container {
	z-index: 9999;
}
.royal {
	color: #ae1eeb;
}
.appPage .list, .appPage .input-label{
	font-size: 13px;
}
.left {
	float: left;
}
.right {
	float: right;
}
ion-header-bar .title {
	text-transform: uppercase;
}
.bar-trading-app .bar-header {
	background-color: #f39000;
}

.bar-trading-app .bar-header .title {
	color: #F8F8F8;
}

.appPage .bar-light {
	background-color: rgba(80, 80, 80, 1);
    border-radius: 4px;
    vertical-align: middle;
    color: #e5e5e5;
    height: 35px;
    line-height: 22px;
    background-image: none;
    position: relative;
    padding: 5px 10px;
    top:25px;
}
.bar-subheader .row.header {
	position: relative;
	top:25px;

}
.account-info .has-subheader {
	margin-top: 85px;
	overflow: auto;
}
.asset .has-subheader {
	margin-top: 35px;
}
.back-button {
	color: #F8F8F8 !important;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
	padding: 5px 0px;
	line-height: 5px;
}
.tab-item {
	opacity: 1 !important;
}
.tab-item .icon {
	width: 100%;
	position: relative;
	height: 25px;
}

.ion-ios-navicon:before {
	background: url('../img/IconMenu.png') no-repeat;
	width: 22px !important;
}

.ion-ios-navicon-active:before {
	background: url('../img/IconMenuActive.png') no-repeat;
	width: 22px !important;
}

.icon-ios-market:before {
	background: url('../img/IconMarket.png') no-repeat;
}

.icon-ios-market-active:before {
	background: url('../img/IconMarketActive.png') no-repeat;
}

.icon-ios-trading:before {
	background: url('../img/IconTrading.png') no-repeat;
}

.icon-ios-trading-active:before {
	background: url('../img/IconTradingActive.png') no-repeat;
}

.icon-ios-notification:before {
	background: url('../img/IconNoti.png') no-repeat;
}

.icon-ios-notification-active:before {
	background: url('../img/IconNotiActive.png') no-repeat;
}

.icon-ios-account:before {
	background: url('../img/IconAccount.png') no-repeat;
}

.icon-ios-account-active:before {
	background: url('../img/IconAccountActive.png') no-repeat;
}
.tab-title {
	color: #F8F8F8;
}

.tabs-ios-icons .tab-nav .icon:before {
	content:  ' ';
	display: block;
	margin: 0 auto;
	height: 25px;
	width: 19px;
}

.account-list .item-radio {
	background-color: transparent;
	color: #e5e5e5;
	padding: 0px;
	line-height: 10px;
}

.account-list .ion-checkmark {
	padding-top: 6px;
}

.account-list .item-radio .item-content {
	background-color: rgba(255, 255, 255, 0.25); 
}

.account-list .item-radio input:checked + .radio-content .item-content {
	background-color: rgba(155, 255, 255, 0.2);
}


.tabs-ios-icons .tab-item-active .tab-title {
	color: #f39000;
}

.profit {
	width: 100%;
}

.account-info .bar-subheader {
	height: 180px;
}

.asset .bar-subheader {
	height: 130px;
}

.account-info .tabs-top.tabs-striped {
	height: 95px;
}

.account-info .bar-subheader .row.header, .assets-info .row.header {
	border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;

}

.account-number {
	width: 100%;
	text-align: right;
}

.loading-container .loading {
	background-color: rgba(0, 0, 0, 0) !important;
}

.row.even {
	background-color: rgba(0, 0, 0, 0.2);
}
.row {
	margin-top: 0px !important;
}
.menu-trading .item {
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu-trading a span {
	border: none;
    border-bottom: 1px solid;
    width: 100%;
    line-height: 25px;
    padding-bottom: 6px;
    display: block;
    border-color: #444;
}

.trading .item {
	border-bottom: 1px solid !important;
}

.menu-trading .item, .trading .item {
	
	width: 100%; 
	background-color: transparent;
	border: none;
	font-size: 13px;
    vertical-align: middle;
    height: 45px;
}

div.row.item.item-input:first-child {
	border-bottom: none !important;
}

.span-touch {
	display: inline-block;
    position: relative;
    padding: 10px;
    border-radius: 20px;
}
.stock-info {
	border-bottom: 1px solid;
	color: #444;
}
.trading .row .col {
	color: #A2A2A2;
}
.menu-trading .item-divider {
	background-color: rgba(0, 0, 0, 0.2);
	color: #f39000;
	text-transform: uppercase;
}

.menu-trading .icon {
	font-size: 20px;
}

.icon-trading-small {
	background: url('../img/icon-trading-small.png') no-repeat;
	background-size: 100%;
	height: 20px;
	width: 20px;
	display: block;
	margin-top: 6px;
	margin-left: 6px;

}

.loginPage .popup-head .popup-title {
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
	display: block;
	height: 45px;

}

.loginForm {
	margin-top: -25px;
}

.loginPage .popup-head {
	margin: auto;
	width: 180px;
}
.loginPage .popup, .errorPopup .popup {
	width: 290px;
	border-radius: 10px;
}

.errorPopup .button-positive {
	flex: unset;
    height: 30px;
    min-height: 0;
    min-width: 0;
    max-width: 80px;
}

.errorPopup .popup-buttons {
	margin: auto;
	width: 80px;
}

.errorPopup .popup-body {
	text-align: center;
}

.errorPopup .popup-title {
	font-weight: bold;
}

.loginPage p {
	font-size: 12px;
    text-align: center;
}

.loginPage .item-input {
	background-color: rgba(140, 140, 140, 0.1);
	padding: 0 0 0 16px;
}
.loginPage label.item {
	border-color: #cecece;
	border-width: 0;
}

.loginPage .list-inset {
	border-radius: 5px;
	border: 1px solid #cecece;
}
.loginPage .popup-body {
	padding: 0 10px;
}

.loginPage .popup-buttons {
	min-height: 30px;
	margin: auto;
}

.loginPage .button {
    border-radius: 5px;
    color: #fff;
    flex: unset;
    height: 35px;
    line-height: 10px;
    min-height: 0;
    padding: 10px;
    width: 120px;
    border: 1px solid #f39000;
    min-width: 0;
    font-size: 14px;
    font-weight: normal;
}

.loginPage .button-default {
	background-color: #f39000;
}

.loginPage .button-positive, .loginPage .button-positive:HOVER {
	background-color: transparent;
	color: #f39000;
}
.loginPage .popup-body {
	overflow: visible;
}
.loginPage .ion-close {
	position: relative;
    top: -65px;
    left: 255px;
    padding: 5px;
    z-index: 10;
}

.vtosLoginPage .button {
	width: 200px !important;
	margin: 10px 35px;
}

.vtosLoginPage .ion-ios-checkmark-empty {
	position: absolute;
	font-size: 35px;
	top: -2px;
	left: 45px;
}
.vtosLoginPage input {
	text-align: center;
	background-color: #ddd;
}
.vtosLoginPage .col-30:first-child input{
	border-left: none;
}
.vtosLoginPage input {
	border-left: 1px solid #cecece;
	font-size: 15px;
	border-radius: 0;
}
.vtosLoginPage .challenge {
	margin-left: 35px;
    padding: 0;
    width: 200px;
    text-align: center;
}

.vtosLoginPage .challenge-answer {
	margin-left: 35px;
    border: 1px solid #cecece;
    padding: 0;
    width: 200px;
    border-radius: 5px;
}

.assets-info .item {
	padding: 8px 5px;
    background-color: transparent;
    border: 0;
    color: #e5e5e5;
    font-size: 14px
}

.item.even {
	background-color: rgba(0, 0, 0, 0.3);
}

.item.item-divider {
	color: #f39000;
	font-weight: bold;
}

.trading input{
	color: #e5e5e5;
	max-width: 72px;
	display: inline-block;
	padding: 0 10px;
    text-align: center;
    height: 25px;
    margin-top: -25px;
}

.trading .input-label {
	margin-right: 10px;
	color: #e5e5e5;
}

.trading .list {
	background-color: rgba(58, 58, 58, 0.3);
	width: 110%;
    margin-left: -10px;
    padding: 0 2em 0 1em;
}

.trading .bar-light {
	top: 0;
	margin-bottom: 10px;
}
.trading .row .col {
	padding: 8px 0;
}
.trading .slider {
	display: inline-block;
    vertical-align: top;
    width: 40px;
    margin: 7px 14px 0 19px;
}
.margin33 {
	margin-left: 33px;
}
.trading .btn-group {
	margin: 10px auto;
	display: block;
	width: 215px;
}

.highlight {
    box-shadow: 0px 0px 17px 7px #ffffff;
    background-color: #fff;
    color: #fff;
}

.trading .btn-group .button {
	min-height: 10px;
    line-height: 35px;
    min-width: 215px;
}
.trading .price .item-note, 
.trading .quantity .item-note {
	font-size: 10px;
	float: none;
}
.trading .input-label {
	max-width: 300px;
	width: 160px;
}
.trading select {
	background: none;
    border: none;
    color: #eee;
    width: 73px;
    text-indent: 20px;
    margin-top: 10px;
    vertical-align: top;
}
.trading .item-note .arrow-circle:BEFORE{
	font-weight: bold;
	vertical-align: top;
    margin-top: 1px;
}

.trading ion-footer-bar {
	background-color: rgba(80, 80, 80, 1);
}

.trading .suggestion {
	padding: 3px 10px;
    border: 1px solid #cecece;
    height: 27px;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #f8f8f8;
    background-color: #9D9D9D;
}


.trading ion-scroll.scroll-symbols {
  overflow: scroll;
  white-space: nowrap;
  top: 5px;
}

.trading .stock-info span {
	margin-left: 2px;
}

.trading input[disabled] {
	background: none;
	color: #aaaaaa;
}

.trading .disabled i.arrow-circle {
	color: #aaaaaa;
	border-color: #aaaaaa;
}

ion-view.trading {
	background: url(../img/backgroundTrading.png) no-repeat;
	background-size: 100%;
}
.icon-sell {
	background: url('../img/iconSell.png') no-repeat;
}

.icon-buy {
	background: url('../img/IconBuy.png') no-repeat;
   
}

.icon-trading {
	display: inline-block;
    height: 16px;
    width: 32px;
    background-size: 100%;
    top: 4px;
    position: relative;
    margin-right: 5px;
}

.arrow-circle {
	display: inline-block;
    color: #f8f8f8;
    font-size: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    text-align: center;
}

.vtos-login {
	text-align: center;
	margin-bottom: 15px;
}

.vtos-login button {
	background-color: #f39000 !important;
    margin: 0;
    min-height: 0;
    line-height: 25px;
    padding: 5px 35px;
}

.slide-and-fade-up.ng-enter {
  opacity: 0;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: -moz-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, opacity 1s;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.slide-and-fade-up.ng-enter.ng-enter-active {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.slide-and-fade-up.ng-leave {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: -moz-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, opacity 1s;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
.slide-and-fade-up.ng-leave.ng-leave-active {
  opacity: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

